
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">在线聊天</div>
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Message/message_body.cshtml");
        </div>
    </div>




</div>

