@{
    var list = ViewBag.list as List<WebApplication1.Models.message>;
}
<div class="row">
    @{
        foreach (var item in list)
        {
            switch (item.user_id)
            {
                case 1:
                    <div class="col-lg-6">
                        <div class="alert alert-success">
                            <span class="glyphicon glyphicon-user"></span>
                            <label>用户名1</label>
                            <p class="">@item.texts</p>
                        </div>
                    </div>
                    break;
                case 2:
                    <div class="col-lg-6">
                        <div class="alert alert-warning">
                            <span class="glyphicon glyphicon-user"></span>
                            <label>用户名2</label>
                            <p class="">@item.texts</p>
                        </div>
                    </div>
                    break;
            }
        }

    }
</div>
